[Unit]
Description=Automount Encrypted Dataset
After=network-online.target

# include all services here which must wait for the mount
Before=pve-guessts.service nfs-server.service

[Service]
Type=simple
ExecStartPre=/bin/bash -c "while ! ssh root@10.99.99.2 true; do sleep 0.5; done"
ExecStartPre=/bin/bash /root/automount.sh
ExecStart=/bin/true

[Install]
RequiredBy=pve-guests
WantedBy=multi-user.target
